@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);
@import url(../blocks/menu.css);
@import url(../blocks/card.css);

.about {
  background-color: #0a2850;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}

.about__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 251px;
  margin: 100px 0 0 80px;
  color: #fff;
  z-index: 1;
}

.about__content {
  max-width: 660px;
  margin: 119px 80px 173px 0px;
}

.about__paragraph {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.about__circle {
  background-color: #2f80ed;
  width: 426px;
  height: 426px;
  border-radius: 50%;
  z-index: 0;
  position: absolute;
  left: -129px;
  /* top: -152px; */
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
